@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

#menu-toggle:checked + #menu {
  display: block;
}

body {
  font-family:
    "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(243, 243, 243);
}
.object-cover {
  object-fit: cover;
}
.backdrop-filter {
  filter: brightness(0.4) blur(4px);
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

h2.wp-block-heading {
  font-size: 2.5rem;
  line-height: 1.1;
}
p {
  font-size: 1 rem !important;
}
